bin/
obj/


*.user
*.suo
*.userosscache
*.sln.docstates


.idea/
.vscode/
*.swp


*.log


.env
.env.*


appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json

secrets.json


*.nupkg
*.snupkg
packages/
*.NuGet.config


*.publish/
*.PublishTmp/


*.trx
*.coverage
*.coveragexml
*.dll
*.pdb
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache

.DS_Store
Thumbs.db

# Docker local overrides & env
docker-compose.override.yml
.env
.env.*.local
.AssembyblyInfo.cs
.AssembyblyInfoInputs.cache
