# Build klasörleri
bin/
obj/


*.user
*.suo
*.userosscache
*.sln.docstates


.idea/
.vscode/
*.swp


*.log


.env
.env.*


appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json

secrets.json


*.nupkg
*.snupkg
packages/
*.NuGet.config


*.publish/
*.PublishTmp/


*.trx
*.coverage
*.coveragexml


.DS_Store
Thumbs.db
